dialog {
    justify-content: center;
    align-items: center;
}

.dialog-content {
    text-align: center;
}

dialog button {
    display: block;
    margin: 10px auto;
}

.color-button.selected {
    background-color: yellow;
    color: black;
}
