* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    /* Colors Red Blue */
    --cordovan: #924747;
    --timberwolf: #D1D1D1;
    --cool-gray: #8699B3;
    --charcoal: #3F5165;
    --burgundy: #6C041E;
    --white: #FFFFFF;
    --black: #000000;
    --overlay-dark: rgba(0, 0, 0, 0.1);

    /* color-tokens */
    --surface-primary: var(--cordovan);
    --on-surface-primary: var(--white);
    --surface-secondary: var(--cool-gray);
    --on-surface-secondary: var(--charcoal);
    --surface-tertiary: var(--timberwolf);
    --on-surface-tertiary: var(--charcoal);
    --success: var(--cool-gray);
    --failure: var(--burgundy);
    --border: var(--timberwolf);
    --divider: var(--white);

    /* Border Radius */
    --rounded-xxs: calc(1rem * 0.25);
    --rounded-xs: calc(1rem * 0.5);
    --rounded-s: calc(1rem* 0.75);
    --rounded-m: 1rem;
}

.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: 1;
}

#settings {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SLIDERS */

#vertical-slider,
#horizontal-slider {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 1;
}

#vertical-slider {
    transform: translateX(-50%) translateY(-100%) rotate(90deg);
}

/* Slider styling */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    width: 30vw;
}

.accent {
    accent-color: #3F5165;
}

/* Webkit browsers */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 0px solid #000000;
    height: 24px;
    width: 35px;
    background: #3F5165;
    cursor: pointer;
    margin-top: 0px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border: 1px solid black;
    height: 26px;
    width: 35px;
    background: #C4C4C4;
    cursor: pointer;
    margin-top: 0px;
}

/* Mozilla browsers --- funktioniert nicht richtig; Slider werden verdoppelt! */
input[type=range]::-moz-range-thumb {
    appearance: none;
    border: 1px solid #000000;
    border-radius: 0px;
    height: 24px;
    width: 35px;
    background: #3F5165;
    cursor: pointer;
}

input[type=range]::-moz-range-track {
    appearance: none;
    border: 1px solid #000000;
    border-radius: 0px;
    height: 24px;
    width: 35px;
    background: #C4C4C4;
    cursor: pointer;
}


/* MAP */
.map-container {
    position: relative;
    width: auto;
    height: 100vh;
    overflow: hidden;
}

#map {
    position: absolute;
    height: 1000vmin;
}

#challenge-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--rounded-s);
}

.primary {
    background-color: var(--surface-primary);
    color: var(--on-surface-primary);
}

.secondary {
    background-color: var(--surface-secondary);
    color: var(--on-surface-secondary);
}

.tertiary {
    background-color: var(--surface-tertiary);
    color: var(--on-surface-tertiary);
}

.challenge-content {
    display: flex;
    flex-direction: column;
}

.challenge-header {
    padding: 1rem;
}

.challenge-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.challenge-footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.hidden {
    display: none;
}

button {
    padding: 1rem;
    border-radius: var(--rounded-xs);
    border: .1rem solid var(--border);
    transition: all 0.3s ease;
    position: relative;
}

button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
}

button:hover::before {
    background-color: var(--overlay-dark);
}

button:hover {
    cursor: pointer;
}

.button-primary {
    background-color: var(--surface-primary);
    color: var(--on-surface-primary);
}

.button-secondary {
    background-color: var(--surface-secondary);
    color: var(--on-surface-secondary);
}

.button-tertiary {
    background-color: var(--surface-tertiary);
    color: var(--on-surface-tertiary);
}