* {
    margin: 0;
    padding: 0;
}

.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    z-index: 1;
}

#settings {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SLIDERS */

#vertical-slider,
#horizontal-slider {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 1;
}

#vertical-slider {
    transform: translateX(-50%) translateY(-100%) rotate(90deg);
}

/* Slider styling */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    width: 30vw;
}

.accent {
    accent-color: #3F5165;
}

/* Webkit browsers */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 0px solid #8A8A8A;
    height: 24px;
    width: 35px;
    background: #3F5165;
    cursor: pointer;
    margin-top: -5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border: 1px black;
    height: 24px;
    width: 35px;
    border-radius: 0px;
    background: #C4C4C4;
    cursor: pointer;
    margin-top: -5px;
}

/* Mozilla Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
}

/* MAP */
.map-container {
    position: relative;
    width: auto;
    height: 100vh;
    overflow: hidden;
}

#map {
    position: absolute;
    height: 1000vmin;
}

/* CHALLENGES */
.challenge-answer.selected {
    background-color: yellow;
    color: black;
}

#challenge-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#challenge-answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}